@import './variables.less';
* {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
}

#custom-trigger {
  .site-layout-sider {
    overflow: hidden auto;
    height: 100vh;
    position: fixed;
    left: 0,
  }
  .logo {
    height: 32px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
    .text {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      h3 {
        margin: 3px 0 0 0; 
        color: white;
        overflow: hidden;
      }
    }
  }
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #1890ff;
    }
  }
  .site-layout {
    position: absolute;
    right: 0;
    // width: calc(100% - 250px);
    // min-width: calc(100% - 80px);
    // max-width: calc(100% - 250px);
    .site-layout-header {
      background: #fff;
    }
    .site-layout-content {
      background: #fff;
    }
  }
}


